/*temp file for media control testing */

/* height */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
  }
  @media screen and (min-height: 451px) {
    .sidenav {padding-top: 60px;}
  }
  
  @media (max-height: 600px) {
    .all_slideshows {height: 350px;}
    .prev, .next { top: 275px; }
    .site_footer_area { height: 98px;}
    .footer_info { font-size:13px;}
    .footer_brand_area {top:-2px; width:95px; height:73px;}
    .maps-container{height:600px;}
  }
  
  
  @media (min-height: 600px) {
    .menu-button {margin-top:-73px}
  }
  @media (min-height: 600px) {
    .all_slideshows {height: 375px;}
    .prev, .next { top: 280px; }
  }
  @media (min-height: 600px) {
    .footer_info { font-size: 13px;}
    .site_footer_area { height: 103px;}
    .footer_brand_area {width: 95px; height: 77px}
  }
  
  
  
  @media (min-height: 768px) {
    .all_slideshows {height: 600px;}
    .prev, .next { top: 400px; }
  }
  @media (min-height: 768px) {
    .footer_info { font-size: 14px;}
    .footer_brand_area {width: 95px; height: 77px}
    .site_footer_area { height: 110px;}
  }
  
  
  @media (min-height: 992px) {
    .all_slideshows {height: 600px;}
    .footer_info { font-size: 16px;}
    .site_footer_area { height: 122px;}
    .footer_brand_area{width:116px; height:88px;}
  }
  
  
  @media (min-height: 1200px) {
    .all_slideshows {height: 600px;}
  }
  @media (min-height: 1200px) {
    .site_footer { font-size: 2px;}
  }
  
  
  /*width*/
  @media (max-width:449px) {
    .nav_area {top: 2em;}
    .site_header .brand_area {top: -4px; height:60px; width:276px;}
    .menu-button {margin-top:-64px; margin-right:25px; }
    #close-msfc-info{top:75px;}
    #close-overlay{top:75px;}
    .info-padding {padding-top:40px;}
    .image-center {margin-top:-24px;}
    .prev, .next {top:290px;}
    .maps-container {top:90px;}
    .instructions_button { right: 7px;margin-top: 7px;}
    #msfc-info-screen {margin-top:110px; }
    #info-heading {font-size:16px;}
    #info-paragraph{font-size:12px;}
    .marker-all { transform:scale(0.5);}
    .close-sites-info-overlay { top:74px;}

    #map-instructions{width:332px;top:11px;}
    .map-box-header {width:193px;margin-left:50px;}
    .map-box-text {text-align: center;}
    #row-info-container{padding-top:30px;}
      #explore-more-id {margin-bottom:102px;}
  }
  
  @media (min-width:449px) {
    .info-padding {padding-top:30px;}
    .image-center {margin-top:0px;}
    .site_header .brand_area {top: -4px; height:80px; width:375px;}
    .menu-button {margin-top:-73px; margin-right:25px; }
    .maps-container {top:107px;}
    #close_overlay {top:95px}
    #close-msfc-info{top:95px;}
    .instructions_button { right: 20px;margin-top: 20px;}
    #info-heading {font-size:20px;}
    #info-paragraph{font-size:16px;}
    .marker-all { transform:scale(1);}
    .close-sites-info-overlay { top:107px;}

    #msfc-info-screen {margin-top:127px; }
    #map-instructions{width:200px;top:55px;}
    .map-box-header {margin-left:0px;}
    .map-box-text {text-align: left;}
    #row-info-container{padding-top:30px;}
      #explore-more-id {margin-bottom:122px;}
  }
