.explore-more {
  color: #0b3d91;
  font-weight: bold;
  padding: 10px 0;
}
.explore-table {
  margin: 0 -10px -10px 0;
}
.explore-info {
  cursor: pointer;
}
.info-icon {
  float: left;
  margin-left: -2px;
}
.info-icon img {
  width: 50px;
}
.info {
  margin-left: 60px;
  font-size: 16px;
  left:8px;
  position: relative;
}
.info-title {
  font-weight: bold;
  position: relative;
  left: 5px;
}
