.site_footer_area {
  position:fixed;
  left: 0;
  bottom:0;
  z-index:300;
  width:100%;
  background-color: white;
  height: 90px;
  border-style: solid none none none;
}
.site_footer {
  position: absolute;
  bottom:0;
}
.footer_brand_area {
  position: relative;
  /*since this css file is nested within its own style folder, it has to go backwards ( ../ ) before it can go into the images folder*/
  background-image: url("../images/NASA_logo.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  z-index: 300;
  display: inline-block;
  width: 80px;
  height: 73px;
  padding-left: 5px;
}
.footer_info {
  display: inline-block;
  position: relative;
  top: -5px;
  font-size:12px;
  padding-bottom:10px;
}
@media (max-height: 600px) {
    
}
@media (min-height: 600px) {
  .footer_info { font-size: 16px;}
  .site_footer_area { height: 118px;}
  .footer_brand_area {width: 106px; height: 87px}
}
@media (min-height: 768px) {
  .footer_info { font-size: 14px;}
  .footer_brand_area {width: 106px; height: 87px}
  .site_footer_area { height: 110px;}
}
@media (min-height: 992px) {

}
@media (min-height: 1200px) {
  .site_footer { font-size: 2px;}
}