#msfc-info-screen {
    background-color: #c0c9d4;
    /*background-image: url("../images/space.jpg");*/
    background-repeat: no-repeat;
    background-size: contain;
    height:100%;
    width:100%;
    display:none;
    margin-top: 125px;
}
.info-header {
    width:100%;
    min-height: 90px;
    background-color: #0b3d91;
    text-align: center;
    font-size: xx-large;
    color: white;
    padding:20px;
}
#close-msfc-info {
    z-index: 3;
}