/* INFO OVERLAY*/
.sites-info-overlay {
  display: none; 
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  top: 0;
  left:0;
  min-height: 100%;
  width: 100%;
  z-index: 2100;
  height: auto;
  padding-bottom: 100px;
  background-color: #fff;
}
.sites-info-content {
  z-index: 4000;
  position: absolute;
  top: 100;
  left: 100;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: firebrick;
  display: block;
}
.close-sites-info-overlay,
.notification-screen-close {
  display: block;
  margin-left:10px;
  width:80px;
  height: 40px;
  cursor: pointer;
  position: fixed;
  width: 100%;
  background-color: #e4e9ef;
  border-bottom: 1px solid #ddd;
  margin: 0;
  padding: 0;
  z-index: 2200;
  -webkit-box-shadow: 0 4px 4px -1px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 4px 4px -2px rgba(0,0,0,0.15);
  box-shadow: 0 4px 4px -2px rgba(0,0,0,0.15);
  top:107px;
  left: 0;
}
.close-sites-info-overlay span,
.notification-screen-close span {
  margin: 9px 0 0 9px; 
  position: absolute;
}

.image_content{
  width: auto;
  height: 500px;
  padding: 40px 10px 20px 10px;
}

.sites_info_data {
  background-color:white;
  background-size: auto;
  display: block;
  height: auto;
  width: 100%;
  margin-top: 132px;
}

.content_page {
  padding: 40px 10px 20px 10px;
}
.article_image_container {
  margin-bottom:0;
}
* {box-sizing: border-box}
/*slideshow container */
.slideshow-container-4221 {
  overflow: hidden;
  position: relative;
  height: 500px;
  margin: auto;
  width:100%;
  background-color: #3f5c8f;
}
/*hide images by default*/
.mySlides {
  display: none;
  height: 500px;
}
/*next and prev buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index:2150;
}
.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 11px;
}
.arrow hover {
  border: solid #0b3d91;
  border-width: 0 3px 3px 0;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  right:20px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  left:20px;
}

/* position the next button to the right*/
.next {
  border-radius: 3px 0 0 3px;
}
/* caption text */
.text {
  color: white;
  background-color:black;
  font-size: 15px;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  text-align: center;
  z-index: 5000;
}
/*dot indicators*/
.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  z-index: 2150;
}
.active, .dot:hover {
  background-color: #717171;
}

.image-center {
  margin: 0 auto;
  width: 100%;
}
#description-title {
  color: #444;
  font-size: 22px;
  font-weight: bold;
}
#description-paragraph {
  color: #444;
  font-size: 18px;
  font-weight: normal;
}
.all_slideshows {
  margin: 0 auto;
  width: auto; 
  display:block;
}
