.jPanelMenu-panel {
  position: static;
  right:0;
  top:0;
  z-index: 2;
  width: 100%;
  min-height:100%;
  background: white;
}
.jPanelMenu-panel { 
  height: 100%; 
  margin: 0px; 
  padding: 0px; 
  position : relative; 
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip:auto;
  height:auto;
  margin:0;
  overflow:visible;
  position:static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.light_background .site_header a.menu_button .menu_icon, .fixed .site_header a.menu_button .menu_icon { 
  text-indent: -9999px; 
  display: inline-block; 
  vertical-align: middle; 
  width: 100px; 
  height: 43px; 
  background-image: url("../images/Menu_Asset.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100px 430px;
  background-color: white;
  position: absolute;
  right: 0px;
}
a, div, footer, header, img, span {
  border:0;
  font-size:100%;
  font:  inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
*,
:after,
:before {
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box
}
html,
html a,
input,
select {
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  text-rendering:optimizeLegibility;
}
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
a {
  color:#0e7ee0;
  text-decoration:none
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

/* inline styles */

svg:not(:root).svg-inline--fa {
  overflow: visible;
}
.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height:1em;
  overflow: visible;
  vertical-align: -.125em;
}
.svg-inline--fa.fa-lg {
  vertical-align:-.225em;
}
.svg-inline--fa.fa-w-1 {
  width:.0625em;
}
.svg-inline--fa.fa-w-2 {
  width:0.125em;
}
.svg-inline--fa.fa-w-3 {
  width:.1875em;
}
.svg-inline--fa.fa-w-4 {
  width:.25;
}
.svg-inline--fa.fa-w-16 {
  width:1em;
}
.fa-2x {
  font-size:2em;
}
.unselectable, 
.zoomable-area {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
article,
aside,
footer,
header,
nav,
section {
  display:block;
}